name: CI - hash_password

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-hash-password:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run hash_password test
        run: PYTHONPATH=$PWD pytest test_hash_password.py
